@model ChangePasswordModelView

@{
    ViewData["Title"] = "EditPassword";
}


<partial name="_HeaderPartial" model='new HeaderModelView {  title = "ألمستخدمين" , subTitle = "تغير ألرقم ألسري"}' />


<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="card mb-4">
        <!-- Card header -->
        <div class="card-header">
            <h3 class="mb-0">تغير ألرقم ألسري</h3>
        </div>
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <!-- Form groups used in grid -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="CurrentPassword" class="form-control-label"></label>
                            <input asp-for="CurrentPassword" class="form-control" placeholder="ألرقم ألسري ألقديم" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NewPassword" class="form-control-label"></label>
                            <input asp-for="NewPassword" class="form-control" placeholder="ألرقم ألسري ألجديد" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="form-control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="تأكيد ألرقم ألسري ألجديد" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                </div>
               


                <div class="row" dir="ltr">
                    <div class="form-group col-md-2">
                        <input type="submit" value="تعديل" class="btn btn-block btn-primary" />
                    </div>
                </div>



            </div>



        </form>
        <!-- Card body -->

    </div>

</div>


@if (ViewBag.alertMsg != null)
{
    <script>
        Swal.fire({
          icon: 'success',
          title: '@ViewBag.alertMsg',
          footer: '<a href>© جميع الحقوق محفوظة لشركة مدينتي</a>'
        })

    </script>
}


























 
