@model HeaderModelView

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <span style="color:white"><a href="#"><i class="fas fa-home" style="color:white"></i></a> - </span>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">

                            <li class="breadcrumb-item"><a href="#">@Model.title</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.subTitle</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-left">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>

        </div>
    </div>
</div>